* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #010101;
  font-family: 'Roboto', sans-serif;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #221F1F;
}
.header::after {
  content: '';
  display: table;
  clear: both;
}
.header-left {
  width: 30%;
  height: 100%;
  float: left;
}
.header-right {
  width: 70%;
  height: 100%;
  float: right;
}
.header-left .logo {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  height: 80px;
  padding: 20px 0;
  color: #E50914;
  margin-left: 30px;
}
.logo h1 {
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
}
.container-ricerca {
  height: 80px;
  padding: 20px 0;
  float: right;
  margin-right: 30px;
}
#testo_ricerca,
#cerca {
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
#cerca {
  color: #000;
  background-color:  #E50914;
}
.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.schede-film {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.card-film {
  width: 200px;
  height: 290px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px 5px;
  position: relative;
  background-color: #222222;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  font-size: 13px;
}
.background-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.background-card img {
  width: 100%;
  height: 290px;
  border-radius: 5px;
  align-self: center;
}
.card-film .info {
  width: 100%;
  height: 290px;
  padding: 5px;
  display: flex;
  /* flex-direction: column;
  justify-content: space-around; */
  display: none;
}
.info .box-superiore {
  width: 100%;
}
.info .box-trama {
  width: 100%;
  max-height: 10%;
  overflow: hidden;
}
.info span {
  font-weight: lighter;
}
.titolo,
.titolo-originale,
.tipo,
.genere,
.cast,
.lingua,
.stelle {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.box-trama > .trama {
  font-size: 12px;
  height: 100%;
  line-height: 14px;
  text-overflow: ellipsis;
}
.lingua {
  position: relative;
}
.lingua img {
  position: absolute;
  width: auto;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
}
.stelle .fa-star {
  font-size: 12px;
}
.stelle .fa-star {
  color: #FFC312;
}
